@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 20% 99.01960784313727%;
    --foreground: 47.99999999999997 8.196721311475414% 11.96078431372549%;
    --card: 60 7.692307692307676% 97.45098039215686%;
    --card-foreground: 47.99999999999997 8.196721311475414% 11.96078431372549%;
    --popover: 60 20% 99.01960784313727%;
    --popover-foreground: 47.99999999999997 8.196721311475414%
      11.96078431372549%;
    --primary: 42.07792207792208 100% 54.70588235294118%;
    --primary-foreground: 23.999999999999996 39.82300884955753%
      22.15686274509804%;
    --secondary: 60 7.692307692307676% 97.45098039215686%;
    --secondary-foreground: 60 2.590673575129532% 37.84313725490196%;
    --muted: 60 7.692307692307676% 97.45098039215686%;
    --muted-foreground: 60 2.590673575129532% 37.84313725490196%;
    --accent: 42.07792207792208 100% 54.70588235294118%;
    --accent-foreground: 23.999999999999996 39.82300884955753%
      22.15686274509804%;
    --destructive: 347.32919254658384 69.6969696969697% 54.70588235294118%;
    --destructive-foreground: 344.4155844155844 62.601626016260155%
      24.11764705882353%;
    --border: 45 5.128205128205112% 84.70588235294117%;
    --input: 45 5.128205128205112% 84.70588235294117%;
    --ring: 45 5.128205128205112% 84.70588235294117%;
    --radius: 0rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --base-1: 60 20% 99.01960784313727%;
    --base-2: 60 7.692307692307676% 97.45098039215686%;
    --base-3: 30 6.666666666666641% 94.11764705882352%;
    --base-4: 40 6.382978723404229% 90.7843137254902%;
    --base-5: 45 6.451612903225783% 87.84313725490196%;
    --base-6: 45 5.128205128205112% 84.70588235294117%;
    --base-7: 48.00000000000007 4.95049504950496% 80.19607843137256%;
    --base-8: 51.42857142857122 4.964539007092202% 72.3529411764706%;
    --base-9: 60 2.978723404255321% 53.92156862745099%;
    --base-10: 60 2.362204724409446% 49.80392156862745%;
    --base-11: 60 2.590673575129532% 37.84313725490196%;
    --base-12: 47.99999999999997 8.196721311475414% 11.96078431372549%;
    --accent-1: 40.00000000000019 60.00000000000023% 99.01960784313727%;
    --accent-2: 51.42857142857138 91.30434782608698% 95.49019607843137%;
    --accent-3: 52.13114754098361 100% 88.0392156862745%;
    --accent-4: 49.696969696969695 100% 80.58823529411765%;
    --accent-5: 50.00000000000001 94.28571428571428% 72.54901960784314%;
    --accent-6: 46.40625 84.21052631578945% 70.19607843137254%;
    --accent-7: 42.22222222222222 75.41899441340779% 64.90196078431373%;
    --accent-8: 38.02325581395348 74.78260869565216% 54.90196078431372%;
    --accent-9: 42.0618556701031 100% 61.96078431372549%;
    --accent-10: 42.07792207792208 100% 54.70588235294118%;
    --accent-11: 35.08771929824562 100% 33.52941176470588%;
    --accent-12: 23.999999999999996 39.82300884955753% 22.15686274509804%;
  }

  .dark {
    --background: 60 3.0303030303030307% 6.470588235294117%;
    --foreground: 60 5.555555555555538% 92.94117647058823%;
    --card: 60 2.0408163265306123% 9.607843137254902%;
    --card-foreground: 60 5.555555555555538% 92.94117647058823%;
    --popover: 60 3.0303030303030307% 6.470588235294117%;
    --popover-foreground: 60 5.555555555555538% 92.94117647058823%;
    --primary: 49.95918367346939 100% 51.9607843137255%;
    --primary-foreground: 23.999999999999996 39.82300884955753%
      22.15686274509804%;
    --secondary: 60 2.0408163265306123% 9.607843137254902%;
    --secondary-foreground: 44.999999999999844 5.1282051282051295%
      69.41176470588235%;
    --muted: 60 2.0408163265306123% 9.607843137254902%;
    --muted-foreground: 44.999999999999844 5.1282051282051295%
      69.41176470588235%;
    --accent: 49.95918367346939 100% 51.9607843137255%;
    --accent-foreground: 23.999999999999996 39.82300884955753%
      22.15686274509804%;
    --destructive: 350.13698630136986 79.34782608695653% 63.92156862745099%;
    --destructive-foreground: 339.54545454545456 95.6521739130435%
      90.98039215686275%;
    --border: 44.99999999999994 3.508771929824561% 22.35294117647059%;
    --input: 44.99999999999994 3.508771929824561% 22.35294117647059%;
    --ring: 44.99999999999994 3.508771929824561% 22.35294117647059%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --base-1: 60 3.0303030303030307% 6.470588235294117%;
    --base-2: 60 2.0408163265306123% 9.607843137254902%;
    --base-3: 60 1.4925373134328304% 13.137254901960786%;
    --base-4: 60 2.4390243902439024% 16.07843137254902%;
    --base-5: 60 3.157894736842109% 18.627450980392158%;
    --base-6: 44.99999999999994 3.508771929824561% 22.35294117647059%;
    --base-7: 48.000000000000036 3.5460992907801394% 27.647058823529413%;
    --base-8: 42.857142857142804 3.7037037037037055% 37.05882352941177%;
    --base-9: 46.666666666666615 4.225352112676054% 41.76470588235294%;
    --base-10: 52.50000000000003 3.3333333333333335% 47.05882352941176%;
    --base-11: 44.999999999999844 5.1282051282051295% 69.41176470588235%;
    --base-12: 60 5.555555555555538% 92.94117647058823%;
    --accent-1: 36 29.411764705882355% 6.666666666666667%;
    --accent-2: 38.57142857142858 31.818181818181817% 8.627450980392156%;
    --accent-3: 36 71.42857142857143% 10.980392156862745%;
    --accent-4: 37.142857142857146 100% 12.352941176470589%;
    --accent-5: 37.4025974025974 100% 15.098039215686274%;
    --accent-6: 38.62068965517241 89.69072164948454% 19.019607843137255%;
    --accent-7: 36.81818181818183 63.76811594202899% 27.058823529411764%;
    --accent-8: 35.88785046728972 59.776536312849174% 35.09803921568627%;
    --accent-9: 42.0618556701031 100% 61.96078431372549%;
    --accent-10: 49.95918367346939 100% 51.9607843137255%;
    --accent-11: 46.3519313304721 100% 54.31372549019608%;
    --accent-12: 41.05263157894737 100% 85.09803921568627%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
